*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/Documents/NetBeansProjects/DatabaseDemo/nbproject/private/
/Documents/NetBeansProjects/DatabaseDemo2/nbproject/private/
/Documents/NetBeansProjects/Lab10Part1/nbproject/private/
/Documents/NetBeansProjects/Lab10Part1/build/
/Documents/NetBeansProjects/Lab10Part2/nbproject/private/
/Documents/NetBeansProjects/Lab10Part2/build/
/Documents/NetBeansProjects/demo2/build/
/Documents/NetBeansProjects/Lab11Part1/nbproject/private/
/Documents/NetBeansProjects/Lab11Part1/build/
/Documents/NetBeansProjects/Lab11Part2/nbproject/private/
/Documents/NetBeansProjects/Lab11Part2/build/
/Documents/NetBeansProjects/Lab11Debug/nbproject/private/
/Documents/NetBeansProjects/Lab11Part1/dist/
/Documents/NetBeansProjects/Lab12Part1/nbproject/private/
/Documents/NetBeansProjects/Lab12Part1/build/
/Documents/NetBeansProjects/Lab12Part1/dist/
/Documents/NetBeansProjects/Lab12Part2/nbproject/private/
/Documents/NetBeansProjects/Lab12/nbproject/private/
/Documents/NetBeansProjects/Lab12/dist/
/Documents/NetBeansProjects/Lab12/build/